#autopep8
#apturl
#certifi
#charset-normalizer
#click
Flask==2.1.1
#idna
#itsdangerous
#Jinja2
#MarkupSafe
#numpy
#pandas
#pycodestyle
#pyngrok==5.1.0
#python-dateutil
#pytz
#PyYAML
requests
#six
#toml
#urllib3
#Werkzeug
